doctype 5
html(lang="de")
	head
		title= title
		link(rel="icon",href="/favicon.small.ico",type="image/x-icon")
		script(src='/socket.io/socket.io.js')
		link(rel='stylesheet', href='/extjs/resources/ext-theme-neptune/ext-theme-neptune-all.css')
		script(src='/extjs/ext-all.js')
		script(src='/sample/app.js')
	body
